@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
/* slick carousel styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: outfit;
}

a.active hr{
    display: block;
}



.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  @media (max-width:640px){

a.active{
    background-color: black;
    color: white;
}

  }
  .perspective {
  perspective: 1000px;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.backface-hidden {
  backface-visibility: hidden;
} 

